$primary: var(--primary, #0063ff);
$primary_0: var(--primary_0, #9fc6ee);
$primary_1: var(--primary_1, #d8e7ff);

$danger:#F56C6C;
$danger_0: var(--danger_0, #fbb8b8);
$danger_1: var(--danger_1, #fef0f0);

$warning:#E6A23C;
$warning_0: var(--warning_0, #f8d7a5);
$warning_1: var(--warning_1, #fff5eb);

$success:#67C23A;
$success_0: var(--success_0, #b7e08f);
$success_1: var(--success_1, #f0f9eb);

// 评论下的字体颜色
$c-white:#777;
$c-white_0: var(--c-white_0, #999);
$c-white_1: var(--c-white_1, #f5f5f5);

