.my-font {
    font-family: 'Courgette', cursive;
}
.line {
    height: 1px;
    width: 100%;
    background-color: #ccc;
}

.m-l-2 {
    margin-left: 2px;
}
.m-l-5 {
    margin-left: 5px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-l-50 {
    margin-left: 50px;
}
.m-t-4 {
    margin-top: 4px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-6 {
    margin-top: 6px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-t-50 {
    margin-top: 50px;
}
.m-t-100 {
    margin-top: 100px;
}
.m-t-150 {
    margin-top: 150px;
}
.m-t-200 {
    margin-top: 200px;
}
.m-t-250 {
    margin-top: 250px;
}
.m-b-2 {
    margin-bottom: 2px;
}
.m-b-3 {
    margin-bottom: 3px;
}
.m-b-4 {
    margin-bottom: 4px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-20 {
    margin-bottom: 20px;
}

.m-t-10 {
    margin-top: 10px;
}
.m-r-2 {
    margin-right: 2px;
}
.m-r-3 {
    margin-right: 3px;
}
.m-r-4 {
    margin-right: 4px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-r-6 {
    margin-right: 6px;
}
.m-r-7 {
    margin-right: 7px;
}
.m-r-8 {
    margin-right: 8px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-r-25 {
    margin-right: 25px;
}
.m-r-30 {
    margin-right: 30px;
}

.m-l-10 {
    margin-left: 10px;
}
.m-l-r-5 {
    margin-left: 5px;
    margin-right: 5px;
}
.f-8 {
    font-size: 8px;
}
.f-10 {
    font-size: 10px;
}
.f-12 {
    font-size: 12px;
}
.f-13 {
    font-size: 13px;
}

.f-14 {
    font-size: 14px;
}
.f-15 {
    font-size: 15px;
}
.f-16 {
    font-size: 16px;
}
.f-18 {
    font-size: 18px;
}
.f-20 {
    font-size: 20px;
}
.f-22 {
    font-size: 22px;
}
.f-24 {
    font-size: 24px;
}
.f-28 {
    font-size: 28px;
}
.f-32 {
    font-size: 32px;
}

.f-500 {
    font-weight: 500;
}

.f-550 {
    font-weight: 550;
}

.f-600 {
    font-weight: 600;
}

.f-700 {
    font-weight: 700;
}
.f-b {
    font-weight: bold;
}

.p-15 {
    padding: 15px;
}
.p-10 {
    padding: 10px;
}
.p-16 {
    padding: 16px;
}
.p-20 {
    padding: 20px;
}
.p-r-5 {
    padding-right: 5px;
}
.p-r-10 {
    padding-right: 10px;
}
.p-r-15 {
    padding-right: 15px;
}
.p-r-20 {
    padding-right: 20px;
}
.p-t-5 {
    padding-top: 5px;
}
.p-t-10 {
    padding-top: 10px;
}
.p-t-15 {
    padding-top: 15px;
}
.p-t-20 {
    padding-top: 20px;
}
.p-t-150 {
    padding-top: 150px;
}
.p-t-200 {
    padding-top: 200px;
}
.p-b-0{
    padding-bottom: 0px;
}
.p-b-5 {
    padding-bottom: 5px;
}
.p-b-10 {
    padding-bottom: 10px;
}
.p-b-15 {
    padding-bottom: 15px;
}

.p-b-20 {
    padding-bottom: 20px;
}
.p-l-0 {
    padding-left: 0px;
}
.p-l-5 {
    padding-left: 5px;
}
.p-l-10 {
    padding-left: 10px;
}
.p-l-15 {
    padding-left: 15px;
}
.p-l-20 {
    padding-left: 20px;
}
.p-l-25 {
    padding-left: 25px;
}
.p-l-30 {
    padding-left: 30px;
}
.p-l-50 {
    padding-left: 50px;
}
.p-5 {
    padding: 5px;
}
.p-8 {
    padding: 8px;
}
.p-5-10 {
    padding: 5px 10px;
}
.p-10-15 {
    padding: 10px 15px;
}
.p-10-20 {
    padding: 10px 20px;
}

.c-555 {
    color: #555;
}
.c-666 {
    color: #666;
}
.c-777 {
    color: #777;
}
.c-888 {
    color: #888;
}
.c-999 {
    color: #999;
}
.c-f5 {
    color: #f5f5f5;
}
.c-aaa {
    color: #aaa;
}
.c-ccc {
    color: #ccc;
}
.c-fff {
    color: #fff;
}
.min-w-50 {
    min-width: 50px;
}
.w-10 {
    width: 10px;
}
.w-20 {
    width: 20px;
}
.w-30 {
    width: 30px;
}
.w-40 {
    width: 40px;
}
.w-50 {
    width: 50px;
}
.w-60 {
    width: 60px;
}
.w-70 {
    width: 70px;
}
.w-80 {
    width: 80px;
}
.w-90 {
    width: 90px;
}

.w-100 {
    width: 100px;
}
.w-110 {
    width: 110px;
}
.w-120 {
    width: 120px;
}
.w-150 {
    width: 150px;
}
.w-190 {
    width: 190px;
}
.w-200 {
    width: 200px;
}

.w-200 {
    width: 200px;
}
.w-220 {
    width: 220px;
}
.w-250{
    width:250px
}
.w-270{
    width:270px
}
.w-280{
    width:280px
}
.w-230 {
    width: 230px;
}
.w-300 {
    width: 300px;
}
.w-320 {
    width: 320px;
}
.w-500 {
    width: 500px;
}
.w-1100 {
    width: 1100px;
}
.w-1200 {
    width: 1200px;
}
.w-vw-100 {
    width: 100vw;
}

.pr {
    position: relative;
}
.pf {
    position: fixed;
}
.f-blod {
    font-weight: blod;
}
.kl-bar {
    overflow-y: auto;
}

.kl-bar::-webkit-scrollbar {
    width: 6px;
}
.kl-bar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #ccc;
}

.no-wrap {
    white-space: nowrap;
}
.no-bar {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.bg-ddd {
    background-color: #ddd;
}
.bg-fc {
    background-color: #fcfcfc;
}
.bg-f5 {
    background-color: #f5f5f5;
}
.bg-fff {
    background-color: #fff;
}
.bg-00 {
    background-color: #000;
}
.bg-555 {
    background-color: #555;
}
.bg-cc {
    background-color: #ccc;
}
.bg-f7f8fa{
    background-color: #f7f8fa;
}
.flex-1 {
    flex: 1;
}
.h-v-100 {
    height: 100vh;
}
.h-vh-100 {
    height: 100vh;
}
.m-h-58 {
    min-height: 58px;
}
.h-b-100 {
    height: 100%;
}
.h-0{
    height: 0px;
}
.h-10 {
    height: 10px;
}
.h-16 {
    height: 16px;
}
.h-18 {
    height: 18px;
}
.h-20 {
    height: 20px;
}
.h-22 {
    height: 22px;
}
.h-24 {
    height: 24px;
}
.h-30 {
    height: 30px;
}
.h-32 {
    height: 32px;
}
.h-40 {
    height: 40px;
}
.h-36 {
    height: 36px;
}
.h-40 {
    height: 40px;
}
.h-45 {
    height: 45px;
}
.h-50 {
    height: 50px;
}
.h-60 {
    height: 60px;
}
.h-70 {
    height: 70px;
}
.h-80 {
    height: 80px;
}
.h-100 {
    height: 100px;
}
.h-120 {
    height: 120px;
}
.v-120 {
    height: 120px;
}
.h-150 {
    height: 150px;
}
.h-200 {
    height: 200px;
}
.l-h-28 {
    line-height: 28px;
}
.l-h-30 {
    line-height: 30px;
}
.h-60vh{
    height: 60vh;
}
.h-80vh {
    height: 80vh;
}
.h-100vh {
    height: 100vh;
}
.w-s-n {
    white-space: nowrap;
}
.b-r-2 {
    border-radius: 2px;
}
.b-r-4 {
    border-radius: 4px;
}
.b-r-6 {
    border-radius: 6px;
}
.b-r-8 {
    border-radius: 8px;
}
.b-r-10 {
    border-radius: 10px;
}
.b-r-12 {
    border-radius: 12px;
}
.b-r-16 {
    border-radius: 15px;
}
.b-r-50 {
    border-radius: 50%;
}
.d-n {
    display: none;
}
.p-f {
    position: fixed;
}
.o-h {
    overflow: hidden;
}
.o-f-h {
    overflow: hidden;
}
.p-a {
    position: absolute;
}
.pa {
    position: absolute;
}
.d-i-b {
    display: inline-block;
}
.p-a-c {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.op-1 {
    opacity: 1;
}
.op-0 {
    opacity: 0;
}

.z-10 {
    z-index: 10;
}
.z-20 {
    z-index: 20;
}
.z-99 {
    z-index: 99;
}
.z-100 {
    z-index: 100;
}

.z-999 {
    z-index: 999;
}

.z-1000 {
    z-index: 1000;
}
.z-9999 {
    z-index: 9999;
}
.p-t-10 {
    padding-top: 10px;
}
.p-b-20 {
    padding-bottom: 20px;
}

.bug-input {
    line-height: 30px;
    border-radius: 4px;
    height: 600px;
    overflow-y: auto;
    flex: 1;
    border: 1px solid #bbb;
    padding: 10px;
    outline: none;
    color: #555;
    padding-bottom: 40px;
}
.bug-input {
    img {
        max-height: 450px;
        max-width: 900px;
        object-fit: cover;
        display: block;
    }
}
.bug-table-html {
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 30px;
    img {
        max-height: 600px;
        max-width: 1100px;
        object-fit: cover;
        display: block;
    }
}

// 媒体查询兼容1920
@media all and (min-width: 1600px) {
    .bug-table-html {
        display: flex;
        flex-direction: column;
        align-items: start;
        line-height: 30px;
        img {
            max-height: 600px;
            max-width: 1300px;
            object-fit: cover;
            display: block;
        }
    }
}

/* 组件切换动画 */
.com-pre-an-enter-active,
.com-pre-an-leave-active {
    transition: all 0.35s ease;
}

.com-pre-an-enter {
    opacity: 0;
    transform: translateX(300px);
}

.com-pre-an-leave-to {
    opacity: 0;
    transform: translateX(300px);
}

.w-b {
    word-break: break-word;
}
.f-0 {
    flex-shrink: 0;
}
.dp-i-b {
    display: inline-block;
}
.t-a-r {
    text-align: right;
}
.t-a-l{
    text-align: left;
}
.app-h {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.kl-contenteditable-input {
    .contenteditable-unpload-img {
        margin: 4px;
    }
}

.kl-emoji .contenteditable-unpload-img {
    max-width: 290px;
}

.no-select {
    user-select: none;
}

.hb-100 {
    height: 100%;
}
.grayscale-img {
    filter: grayscale(100%);
}

/* 组件切换动画 */
.component-fade-opacity-enter-active,
.component-fade-opacity-leave-active {
    transition: all .2s ease;
}

.component-fade-opacity-enter {
    opacity: 0;
    transform: translateX(30px);
}

.component-fade-opacity-leave-to {
    opacity: 0;
    transform: translateX(-30px);
}

/* dialog切换动画 */
@keyframes dialog-fade-in {
  0% {
      transform: translate3d(0, -50px, 0);
      opacity: 0.2;
      -webkit-transform: translate3d(0, -50px, 0);
      -moz-transform: translate3d(0, -50px, 0);
      -ms-transform: translate3d(0, -50px, 0);
      -o-transform: translate3d(0, -50px, 0);
}
  100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}
@keyframes dialog-fade-out {
  0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
  100% {
      transform: translate3d(0, 50px, 0);
      opacity: 0.2;
  }
}


