.el-menu > .is-active {
    border-right: 3px solid #aad1f8;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #ccc;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 501px) {
    ::-webkit-scrollbar {
        width: 4px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: #ccc;
    }
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.oneline {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 重置elementui样式
.el-image.el-image-viewer {
    width: 100%;
    overflow: hidden;
    transition: all 1s;
    img {
        width: 100%;
    }
    &:hover {
        transform: scale(1.3);
    }
}

/* 一级路由的切换效果 */
.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}

/* 给单独设置了 test的一级路由页面设置的切换效果 */
.test-enter-active,
.test-leave-active {
    transition: all 0.5s;
    font-size: 12px;
}

.test-enter,
.test-leave-active {
    opacity: 0;
    font-size: 40px;
}

.el-dialog {
    .el-dialog__header {
        display: flex;
        border-bottom: 1px solid #f1f1f1;
        padding: 20px 0;
        .el-dialog__title {
            flex: 1;
            text-align: center;
            font-weight: 550;
            color: #555;
        }
    }
    .el-dialog__footer {
        border-top: 1px solid #f1f1f1;
        padding: 20px 0;
    }
}
.el-dialog-center.el-dialog__wrapper {
    text-align: center;
    white-space: nowrap;
    overflow: auto;
    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .el-dialog {
        margin: 30px auto !important;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        white-space: normal;
    }
}

.el-input-number .el-input__inner {
    text-align: left;
}

// 重置全局下组件样式
.app-container-new {
    .el-button {
        border: none;
        border-radius: 6px;
}
}

.el-dropdown-menu {
    padding: 0 !important;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}
.el-dropdown-menu__item {
    min-width: 150px;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    &:hover {
        background: #f7f8fa !important;
    }
}
